@import './base.scss';

.wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  position: relative;

  .background-image{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
  }

  .flex_container{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    max-width: 1240px;
    width: 100%;

    .main-right__block{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      min-width: 40%;
      margin-top: 40px;

      h1{
        font-size: 32px;
        text-align: center;

        @media (min-width: $desktop) {
          font-size: 56px;
          text-align: left;
        }
      }

      &-total{
        font-size: 32px;
        color: #1C1C21;
      }

      @media(min-width: $desktop) {
        margin-top: 0;
        align-items: initial;
      }
    }

    &.quiz_container{
      max-width: 100%;
    }

    @media(min-width: $desktop) {
      flex-direction: row;
    }
  }

  @media(min-width: $desktop) {
    overflow: hidden;
  }
}

.quiz_container{
  max-width: 100%;
  height: 100%;
  position: relative;

  .app_left{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    width: 100%;
    padding: 100px 20px 50px;
    background-color: #E5E5E5;
    box-sizing: border-box;

    h2{
      text-align: center;
      
      @media(min-width: $desktop) {
        text-align: left;
        padding-left: 20px;
      }
    }

    &-content{
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;

      .main-block{
        min-height: 70px;
        margin: 0 0 15px 0;
        max-width: 265px;

        @media(min-width: $desktop) {
          min-height: initial;
          margin: 0 46px 20px 46px;
          max-width: 220px;
        }

        @media(min-width: 1280px) {
          max-width: 300px;
        }
      }

      @media(min-width: $desktop) {
        flex-direction: row;
        flex-wrap: wrap;
        align-items: initial;
      }
    }

    @media (min-width: $desktop) {
      width: 70%;
      padding: 120px 20px 120px 80px;
    }
  }

  .app_right{
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    height: 100%;
    overflow: hidden;

    @media(min-width: $desktop) {
      width: 30%;
      overflow: initial;
    }
  }
}

.active{
  color: green;
}

