@import "./variables.scss";

body {
  margin: 0;
  font-family: "Inter";
  font-style: normal;
  box-sizing: border-box;
}

h1 {
  color: $black;
  margin: 0 0 60px 0;
  font-size: 56px;
}

h2 {
  color: $black;
  font-size: 32px;
}

.main-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 64px;
  max-width: 300px;
  outline: none;
  border: none;
  border-radius: 12px;
  width: 100%;
  background: $orange;
  color: white;
  font-size: 20px;

  &:hover {
    cursor: pointer;
  }
}

.main-block {
  display: flex;
  align-items: center;
  justify-content: center;
  max-height: 70px;
  height: 100%;
  background-color: white;
  max-width: 300px;
  width: 100%;
  border: 1px solid $light-grey;
  border-radius: 8px;
  position: relative;
  margin: 0 46px 20px 46px;
  box-sizing: border-box;

  &__letter {
    color: $orange;
    margin-right: 10px;
  }

  &__answer {
    color: $black;
  }

  &:before {
    content: "";
    background-color: $light-grey;
    height: 1px;
    width: 17px;
    position: absolute;
    left: -47px;
    transition: background-color 0.3s ease;
  }

  .triangle {
    width: 0;
    height: 0;
    border-top: 35px solid transparent;
    border-bottom: 35px solid transparent;
    border-right: 35px solid $light-grey;
    position: absolute;
    transition: all 0.3s ease;

    &:after {
      content: "";
      width: 0;
      height: 0;
      border-top: 34px solid transparent;
      border-bottom: 34px solid transparent;
      border-right: 34px solid white;
      position: absolute;
      top: -34px;
      left: 1px;
    }

    &-left {
      left: -31px;
    }

    &-right {
      right: -31px;
      border-left: 35px solid $light-grey;
      border-right: none;
      transition: all 0.3s ease;

      &::after {
        border-left: 34px solid white;
        border-right: none;
        left: initial;
        right: 1px;
      }
    }
  }

  &:after {
    content: "";
    background-color: $light-grey;
    height: 1px;
    width: 17px;
    position: absolute;
    right: -47px;
    transition: background-color 0.3s ease;
  }

  &__not-selected {
    &:hover {
      cursor: pointer;
      border-color: $orange;
      transition: all 0.3s ease;

      &:before {
        background-color: $orange;
        transition: background-color 0.3s ease;
      }

      .triangle {
        &-left {
          border-right-color: $orange;
          transition: all 0.3s ease;
        }

        &-right {
          border-left-color: $orange;
          transition: all 0.3s ease;
        }
      }

      &:after {
        background-color: $orange;
        transition: background-color 0.3s ease;
      }
    }
  }

  &__selected {
    border-color: $orange;
    background-color: $grey;
    animation: blink-animation 1s steps(5, start) infinite;
    -webkit-animation: blink-animation 1s steps(5, start) infinite;

    &:before {
      background-color: $orange;
      transition: background-color 0.3s ease;
    }

    .triangle {
      &-left {
        border-right-color: $orange;

        &:after {
          border-right-color: $grey;
          animation: blink-animation-triangle-left 1s steps(5, start) infinite;
          -webkit-animation: blink-animation-triangle-left 1s steps(5, start)
            infinite;
        }
      }

      &-right {
        border-left-color: $orange;

        &:after {
          border-left-color: $grey;
          animation: blink-animation-triangle-right 1s steps(5, start) infinite;
          -webkit-animation: blink-animation-triangle-right 1s steps(5, start)
            infinite;
        }
      }
    }

    &:after {
      background-color: $orange;
    }
  }

  &__wrong {
    border-color: $hover-orange;
    background-color: $grey-btn;

    &:before {
      background-color: $hover-orange;
    }

    .triangle {
      &-left {
        border-right-color: $hover-orange;

        &:after {
          border-right-color: $grey-btn;
        }
      }

      &-right {
        border-left-color: $hover-orange;

        &:after {
          border-left-color: $grey-btn;
        }
      }
    }

    &:after {
      background-color: $hover-orange;
    }
  }

  &__correct {
    border-color: $green;
    background-color: $correct-grey;

    &:before {
      background-color: $green;
    }

    .triangle {
      &-left {
        border-right-color: $green;

        &:after {
          border-right-color: $correct-grey;
        }
      }

      &-right {
        border-left-color: $green;

        &:after {
          border-left-color: $correct-grey;
        }
      }
    }

    &:after {
      background-color: $green;
    }
  }

  &__small {
    min-height: 40px;
    max-height: 40px;
    max-width: 240px;
    margin: 0 0 10px 0;

    &:before {
      width: 17px;
      left: -252px;
      width: 100%;
      z-index: -1;
    }

    .triangle {
      width: 0;
      height: 0;
      border-top: 20px solid transparent;
      border-bottom: 20px solid transparent;
      border-right: 20px solid $light-grey;

      &:after {
        border-top: 19px solid transparent;
        border-bottom: 19px solid transparent;
        border-right: 19px solid white;
        top: -19px;
        left: 1px;
      }

      &-left {
        left: -16px;
      }

      &-right {
        right: -16px;
        border-left: 20px solid $light-grey;
        border-right: none;

        &::after {
          border-left: 19px solid white;
          border-right: none;
          left: initial;
          right: 1px;
        }
      }
    }

    &:after {
      height: 1px;
      width: 17px;
      right: -252px;
      width: 100%;
    }

    &__past {
      .main-block__answer {
        color: $light-grey;
      }
    }

    &__active {
      border-color: $orange;

      .main-block__answer {
        color: $orange;
      }

      &:before {
        background-color: $orange;
      }

      .triangle {
        &-left {
          border-right-color: $orange;
        }

        &-right {
          border-left-color: $orange;
        }
      }

      &:after {
        background-color: $orange;
      }
    }
  }
}

.burger{
  height: 20px;
  width: 20px;
  position: absolute;
  right: 20px;
  top: 20px;

  &:before{
    content: "";
    height: 2px;
    width: 20px;
    border-radius: 1px;
    background-color: black;
    position: absolute;
    left: 0;
    right: 0;
    top: 0px;
  }

  &-span{
    height: 2px;
    width: 20px;
    border-radius: 1px;
    background-color: black;
    position: absolute;
    left: 0;
    right: 0;
    top: 9px;
  }

  &:after{
    content: "";
    height: 2px;
    width: 20px;
    border-radius: 1px;
    background-color: black;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0px;
  }

  &__open{

    &:before{
      transform: rotate(45deg);
      top: 12px;
    }

    .burger-span{
      display: none;
    }

    &:after{
      transform: rotate(135deg);
      bottom: 6px;
    }
  }
}

@keyframes blink-animation {
  to {
    background-color: white;
  }
}
@-webkit-keyframes blink-animation {
  to {
    background-color: white;
  }
}

@keyframes blink-animation-triangle-left {
  to {
    border-right-color: white;
  }
}
@-webkit-keyframes blink-animation {
  to {
    border-right-color: white;
  }
}

@keyframes blink-animation-triangle-right {
  to {
    border-left-color: white;
  }
}
@-webkit-keyframes blink-animation {
  to {
    border-left-color: white;
  }
}
